/* .navBarContainer */
.navBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    gap: 18rem;
    position: absolute;
    width: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    top: 0rem;
    padding: 0.5rem;
  }
  
  .navBarContainer.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    transition: all 0.3s cubic-bezier(.42, .00, .58, 1.00);
    padding: 0.8rem;
    backdrop-filter: blur(15px);
    background-color: #111827e0;
  }
  
  .logomain img {
    width: 9rem;
    padding: 0.5rem;
  }
  
  .searchField {
    display: flex;
    border-radius: 0.375rem;
    padding: 1rem 1rem 1rem 0;
    border: 2px solid var(--gray-300, #d1d5db);
    justify-content: space-between;
    align-items: center;
    height: 1.8125rem;
    overflow: hidden;
    color: #fff;
  }
  
  /* Navbar.css */

/* ... Other styles ... */

.searchField {
    display: flex;
    border-radius: 0.375rem;
    padding: 1rem 1rem 1rem 0;
    border: 2px solid var(--gray-300, #D1D5DB);
    justify-content: space-between;
    align-items: center;
    height: 1.8125rem;
    overflow: hidden;
    color: #fff;
  }
  
  /* Style for the search input */
  .searchField input {
    border: none;
    padding: 0.375rem 0.625rem;
    width: 32.8125rem;
    background: none;
    color: #D1D5DB;
    transition: width 0.3s ease-in-out;
  }
  
  .searchField input:focus {
    outline: none;
  }
  
  .searchField input::placeholder {
    color: #D1D5DB;
  }
  
  
  /* Style for the search icon */
  #searchIcon {
    display: block;
  }
  
  #closeIcon {
    display: none; /* Initially, hide the close icon */
    cursor: pointer;
  }
  
  .searchField.active #searchIcon {
    display: none; /* Hide the search icon when input is active */
  }
  
  .searchField.active #closeIcon {
    display: block; /* Show the close icon when input is active */
  }

  .searchButton  {
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
  }

  .cta-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
  }
  
  .cta-navbar a {
    text-decoration: none;
    color: #fff;
  }
  
  .cta-navbar svg {
    cursor: pointer;
  }

  .searchNavBar {
    background: #111827;
    position: fixed;
    /* padding: 0.8rem; */
  }
  

  .searchNav{
    position: sticky !important;
    top: 0;
    background: #111827 !important;
  }

  @media screen and (max-width: 768px) {
    .navBarContainer {
      height: 4rem;
      width: 100%;
      justify-content: center;
      gap: unset;
      padding: 2rem 2rem 0 2rem;
      gap: 2rem;
    }

    .navBarContainer.fixed {
      width: 100%;
    }

    .cta-navbar {
      display: none;
    }
  }